@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

body{
  background: maroon;
  background: url("https://media.istockphoto.com/vectors/vector-poker-black-background-playing-card-symbols-pattern-blackjack-vector-id868429174?k=6&m=868429174&s=170667a&w=0&h=aLe1LzxME6exY4aA6C_cJVROOPohXhdW1eAncj6k9ng=");
  color: ivory;
  margin-top: 20px;
}

header{
  margin: 0;
  padding: 0;
}

main{
  display:flex;
  margin: 15px;
}

h3{
  font-size: 25px;
  font-weight: bold;
  font-family: 'RocknRoll One';
  margin-top: 0;
  margin-bottom: 10px;
  display: flex;
  min-width: 500px;
  max-height: 50px;
 position: absolute;
}

#left{
  float: left;
}

#right{
  float: right;
}

.deck{
  border: 5px solid #322f30;
  width: 180px;
  height: 280px;
  margin: 1rem auto;
  padding: 15px;
  margin-top: 50px;
  border-radius: 5px;
  cursor: pointer;
}
#deck-back{
  background-color:#fff;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  box-sizing:border-box;
  font-family:monospace;
  font-weight:bold;
  height: 250px;
  width: 170px;
  vertical-align:top;
  margin-right: 50px;
  cursor: pointer;
}


.casino-hand{
  border: 5px solid #322f30;
  margin: 1rem auto;
  width: 750px;
  height: 400px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  position: relative;
}



.player-hand{
  border: 5px solid #322f30;
  margin: 1rem auto;
  width: 750px;
  height: 400px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  position: relative;
}

.casino-hand .card{ 
  margin-top: 55px;
  display: flex;
  position: relative;
}

.player-hand .card{
  margin-top: 55px;
  display: flex;
  position: relative;
  
}

.turn{
  transform: rotateX(180deg);
}
.deal{
  display: flex;
  float: right;
  margin-top: -80px; 
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: 'RocknRoll One';
  font-weight: bold;
  margin-top: 40px;
  animation: wave 3s infinite;
}

@keyframes wave {
  0% {
    transform:translateY(0px);
    
  }
  50% {
    transform: translateY(-30px);
    
  }
  100% {
    transform:translateY(0px);
  }
  
}


.btn {
text-align: center;
background-color: black;
border: 4px solid #322f30;
color: white;
font-weight: bold;
padding:  10px;
font-size: 16px;
cursor: pointer;
text-shadow: 0px 4px Black;
height: 45px;
width: 140px;
margin: 15px;
border-radius: 10px;
}

.btn:hover{
  background-color: maroon;
}


.card{
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: monospace;
  font-weight: bold;
  height: 250px;
  width: 170px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  transform-style: preserve-3d;
  position: absolute; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;

}
.active{
  position: relative;
  margin-top: 40px;
  transform: rotateX(360deg);
}


.card.red{
  color: red;
}


.card.black{
  color: black;
}


.top{
  font-size: 30px;
  margin-bottom: 175px;
  left: 16px;
}

.mid{
  font-size:95px;
}

.bottom{
 font-size: 30px;
 margin-top: 175px;
 right: 32px;
 transform: rotate(180deg);
}


.back{
  border-radius: 16px;
  position: absolute;
  box-sizing:border-box;
  font-family:monospace;
  font-weight:bold;
  height: 250px;
  width: 170px;
  position: absolute;
  vertical-align:top;
  z-index: 1;
  transform:rotateY(180deg);

  }

#back-img{
  height:100%;
  width: 100%; 
  border-radius: 10px;

}

.card.red{
  color: red;
}


.card.black{
  color: black;
}

.back2{
  border-radius: 16px;
  box-sizing:border-box;
  font-family:monospace;
  font-weight:bold;
  height: 250px;
  width: 170px;
  position: absolute;
  z-index: 1;
  }

.gameplay{
  position: fixed;
  top: 28%;
  left: 38%;
  z-index: 10;
  width: 450px;
  height: 220px;
  background: black;
  opacity: .85;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-align: center;
  transform:scale(0);
}

.gameplay.active{
  transform:scale(1);
}



.newGame{
  position: fixed;
  top: 28%;
  left: 38%;
  z-index: 10;
  width: 450px;
  height: 220px;
  background: black;
  opacity: .85;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-align: center;
  transform:scale(0)
}

.newGame.active{
  transform:scale(1);
}

.btn2 {
text-align: center;
background-color: black;
border: 4px solid white;
color: white;
font-weight: bold;
padding:  10px;
font-size: 16px;
cursor: pointer;
text-shadow: 0px 4px Black;
height: 45px;
width: 140px;
margin: 15px;
border-radius: 10px;
}

.btn2:hover{
  background-color: maroon;
}

.game-rules{
  position: absolute;
  top: 12%;
  left: 20%;
  margin: 1rem auto;
  width: 1000px;
  height: 700px;
  border: 1px solid white;
  padding: 10px;
  background: black;
  opacity: .9;
  z-index: 1;
  border: 5px solid white; 
  border-radius: 10px;
  transform:scale(1);
}

.game-rules.inactive{
  transform:scale(0);
}

h3{
  font-family: 'RocknRoll One';
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  
}

p{
  font-size: 20px;
  font-family: 'RocknRoll One';
  color: white;
  padding: 15px;
  font-weight: bold;
}

ol li{
  color:white;
  font-family: 'RocknRoll One';
  font-weight: bold;
  font-size: 20px;
}

.play{
text-align: center;
background-color: transparent;
border: 5px solid white;
color: white;
font-weight: bold;
padding:  5px;
font-size: 18px;
cursor: pointer;
text-shadow: 0px 4px Black;
background-position:center;
background-repeat:no-repeat;
height: 45px;
width: 150px;
margin-top: 20px;
border-radius: 10px;
display: block;
margin: 1rem auto;
margin-top: 50px;
}

.play:hover{
  background: maroon;
}

h1{
  color: maroon;
  font-size: 50px;
  font-family: 'RocknRoll One';
  font-weight: bold;
  box-shadow:10px 10px 50px white;
  text-align: center;
  background: black;
  height: 50px;
  padding: 20px;
  border-radius: 10px;

}

.restart{
text-align: center;
background-color: transparent;
border: 5px solid maroon;
color: white;
font-weight: bold;
padding:  5px;
font-size: 18px;
cursor: pointer;
text-shadow: 0px 4px Black;
background-position:center;
background-repeat:no-repeat;
height: 45px;
width: 150px;
border-radius: 10px;
display: block;
margin: 1rem auto;
margin-top: 40px;
}

.restart:hover{
  background: maroon;
}

.note{
  margin-top: 25px;
  color: white;
  width: 100%;
  height: 100px;
}

.notes{
  margin-top: 25px;
  color: white;
  width: 100%;
  height: 100px;
}

.gameplay2{
  position: fixed;
  top: 28%;
  left: 38%;
  z-index: 10;
  width: 450px;
  height: 220px;
  background: black;
  opacity: .85;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-align: center;
  transform:scale(0);
}

.gameplay2.active{
  transform:scale(1);
}


.note2{
  margin-top: 25px;
  color: white;
  width: 100%;
  height: 100px;
}

.gameplay3{
  position: fixed;
  top: 28%;
  left: 38%;
  z-index: 10;
  width: 450px;
  height: 220px;
  background: black;
  opacity: .85;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-align: center;
  transform:scale(0);
}

.gameplay3.active{
  transform:scale(1);
}

.note4{
  margin-top: 25px;
  color: white;
  width: 100%;
  height: 100px;
}

.gameplay4{
  position: fixed;
  top: 28%;
  left: 38%;
  z-index: 10;
  width: 450px;
  height: 220px;
  background: black;
  opacity: .85;
  color: white;
  border: 5px solid white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 30px;
  font-family: 'RocknRoll One';
  text-align: center;
  transform:scale(0);
}

.gameplay4.active{
  transform:scale(1);
}

